<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div>
        <div class="hero">
            <div >
                <img class="logo" src="logo.png" alt="">
            </div>
            <div class="navbar">
                
            </div>
        </div>
        <div class="boxes">
            <div class=" box">
                <img class="b1" src="box1.png" alt="">
                <h2 class="heading">
                    Residential Waste <br>
                    <span class="exp">waste material garbage, and trash from houses!</span><br>
                    <span class="ord">Order Waste Pickup</span>
                </h2>
                
            </div>
            <div class=" box">
                <img class="b1" src="box2.png" alt="">
                <h2 class="heading">
                    Business Waste<br>
                    <span class="exp">Take care of business, we'll take care of the wastes.</span><br>
                    <span class="ord">More About Recycle</span>
                </h2>
            </div>
            <div class=" box">
                <img class="b1" src="box3.png" alt="">
                <h2 class="heading">
                    Roll-Off Dumpsters<br>
                    <span class="exp">From the clean out services to major renovations</span><br>
                    <span >Rent A Dumpster</span>
                </h2>
            </div>
        </div>
        <div>
            <h1 class="info-1">Services & Solutions <br>
                <p>We offer comprehensive recycling, industry-specific waste management, quality control & sustainability solutions for businesses and corporations.</p>
            </h1>
        </div>
        <div class="grids">
            <div class="grid-1">
                <div class="grid">
                    <img class="b1" src="box1.png" alt="">
                    <h2 class="heading1">Waste Collection Services <br>
                        <p class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic in sapiente cupiditate debitis accusamus voluptate et excepturi, ut dicta sunt beatae at itaque perferendis id, nostrum esse error quis.</p>
                    </h2>
                    
                </div>
                <div class="grid">
                    <img class="b1" src="box2.png" alt="">
                    <h2 class="heading1">Recycling Services <br>
                        <p class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic in sapiente cupiditate debitis accusamus voluptate et excepturi, ut dicta sunt beatae at itaque perferendis id, nostrum esse error quis.</p>
                        </h2>
                </div>
                <div class="grid">
                    <img class="b1" src="box3.png" alt="">
                    <h2 class="heading1">Environmental <br>
                        <p class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic in sapiente cupiditate debitis accusamus voluptate et excepturi, ut dicta sunt beatae at itaque perferendis id, nostrum esse error quis.</p>
                        </h2>
                </div>

            </div>
                <div class="grid-2">
                    
                    <div class="grid">
                        <img class="b1" src="box1.png" alt="">
                        <h2 class="heading1">BIO fuel production <br>
                            <p class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic in sapiente cupiditate debitis accusamus voluptate et excepturi, ut dicta sunt beatae at itaque perferendis id, nostrum esse error quis.</p>
                            </h2>
                        
                    </div>
                    <div class="grid">
                        <img class="b1" src="box2.png" alt="">
                        <h2 class="heading1">Quality Audits <br>
                            <p class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic in sapiente cupiditate debitis accusamus voluptate et excepturi, ut dicta sunt beatae at itaque perferendis id, nostrum esse error quis.</p>
                            </h2>
                    </div>
                    <div class="grid">
                        <img class="b1" src="box3.png" alt="">
                        <h2 class="heading1">Sustainability <br>
                            <p class="exp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic in sapiente cupiditate debitis accusamus voluptate et excepturi, ut dicta sunt beatae at itaque perferendis id, nostrum esse error quis.</p>
                            </h2>
                    </div>

                </div>
        </div>


        
        <footer class="padding_4x">
            <div class="flex">
              <section class="flex-content padding_1x">
                <h3>Top Products</h3>
                <a href="#">Managed Website</a>
                <a href="#">Manage Reputation</a>
                <a href="#">Power Tools</a>
                <a href="#">Marketing Service</a>
              </section>
              <section class="flex-content padding_1x">
                <h3>Quick Links</h3>
                <a href="#">Jobs</a>
                <a href="#">Brand Assets</a>
                <a href="#">Investor Relations</a>
                <a href="#">Terms of Service</a>
              </section>
              <section class="flex-content padding_1x">
                <h3>Features</h3>
                <a href="#">Jobs</a>
                <a href="#">Brand Assets</a>
                <a href="#">Investor Relations</a>
                <a href="#">Terms of Service</a>
              </section>
              <section class="flex-content padding_1x">
                <h3>Resources</h3>
                <a href="#">Guides</a>
                <a href="#">Research</a>
                <a href="#">Experts</a>
                <a href="#">Agencies</a>
              </section>
              <section class="flex-content padding_1x">
                <h3>Newsletter</h3>
                <p>You can trust us. we only send promo offers,</p>
                <fieldset class="fixed_flex">
                  <input type="email" name="newsletter" placeholder="Your Email Address">
                  <button class="btn btn_2">Subscribe</button>
                </fieldset>
              </section>
            </div>
            <div class="flex">
              <section class="flex-content padding_1x">
                <p>Copyright ©2023 All rights reserved || website name</p>
              </section>
              <section class="flex-content padding_1x">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </section>
            </div>
          </footer>
    </div>
</body>
</html> -->
<!--=============== FONT AWESOME ===============-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="h.css">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="#"><img class="logo" src="logo.png" alt=""></a>
            </h1>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero">
        <div class="container">
            <h1>Welcome to my website</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
    <div>
        <div class="boxes">
            <div class=" box">
                <img class="b1" src="box1.png" alt="">
                <h2 class="heading">
                    Residential Waste <br>
                    <span class="exp">waste material garbage, and trash from houses!</span><br>
                    <span class="ord">Order Waste Pickup</span>
                </h2>

            </div>
            <div class=" box">
                <img class="b1" src="box2.png" alt="">
                <h2 class="heading">
                    Business Waste<br>
                    <span class="exp">Take care of business, we'll take care of the wastes.</span><br>
                    <span class="ord">More About Recycle</span>
                </h2>
            </div>
            <div class=" box">
                <img class="b1" src="box3.png" alt="">
                <h2 class="heading">
                    Roll-Off Dumpsters<br>
                    <span class="exp">From the clean out services to major renovations</span><br>
                    <span>Rent A Dumpster</span>
                </h2>
            </div>
        </div>


        <section class="container content">
            <h2>Content one</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit error architecto illum, qui quas
                iste
                ducimus cum. Cum quam odit eligendi eum minus, nisi facilis in nostrum illo, expedita ea veritatis,
                excepturi
                sunt
                perferendis soluta maxime? Ullam numquam itaque sed fugiat voluptatem vero quaerat dolorum, velit
                minima
                excepturi
                adipisci fugit, eius doloremque incidunt atque earum dolorem nam voluptates praesentium quis quo.
            </p>
            <p>
                Ullam ipsam ipsum praesentium dignissimos at porro, numquam voluptates voluptatibus, ex molestiae,
                nobis
                minus.
                Quibusdam deleniti soluta cum velit alias, ut earum voluptas corporis mollitia amet adipisci
                voluptates
                perferendis animi impedit ab ex, delectus perspiciatis debitis deserunt et aliquam libero rem
                molestias!
                Iusto,
                sint. Sapiente eius voluptatum tempore deserunt perferendis nesciunt facere autem quam velit magni
                repudiandae
                suscipit labore, commodi, animi necessitatibus culpa excepturi asperiores et ipsam laboriosam
                tenetur,
                cupiditate
                vel! Eum animi culpa deserunt adipisci inventore, corporis rerum minus perspiciatis nulla aut omnis
                vel!
                Quas,
                eius. Quis?</p>
            <h2>Content two</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis magnam officia harum autem,
                dolorum
                nam
                doloremque quam impedit quo distinctio aperiam veniam laboriosam non error nobis nisi accusantium
                aliquam
                neque
                officiis vel tenetur tempora minima consequatur iure. Iste ratione tenetur suscipit, sint
                repudiandae ut
                esse
                aliquam eaque perspiciatis ex magni blanditiis enim saepe recusandae nulla vitae eligendi et
                expedita
                molestias!
            </p>
            <p>
                Eveniet saepe beatae temporibus accusamus animi quos ea doloribus maxime, praesentium ipsa veritatis
                voluptatibus
                veniam debitis, voluptatem minima! Itaque, ab dignissimos vitae nobis ipsum asperiores perferendis!
                Et,
                vero.
                Aspernatur, libero magnam? Voluptate nobis explicabo pariatur molestias tempora blanditiis nam ullam
                harum
                laborum
                id. Vel autem deleniti modi nam provident animi debitis consequatur possimus vitae? Fuga, facere. Ut
                delectus
            </p>
            <p>
                architecto, consequatur ex molestiae labore adipisci porro omnis aliquam optio ab aut facilis
                perspiciatis
                autem,
                expedita corporis alias? Culpa consectetur voluptatum odit dicta explicabo impedit, laborum fugiat
                eius
                dolorum
                id, excepturi distinctio atque eaque praesentium corporis autem, rem perspiciatis est mollitia.
                Sapiente,
                enim!
            </p>
            <p>
                Natus facilis asperiores, maxime ex, similique officia, sed dignissimos animi cupiditate
                consequuntur
                nobis
                totam
                eaque recusandae sequi! Unde pariatur sint est veritatis, eum quae assumenda voluptatem ab, eius
                amet
                praesentium
                aliquam ducimus atque provident nobis distinctio, maxime hic doloribus.</p>
            <h2>Content three</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis odit aliquid in sunt tenetur
                repellendus.
                Impedit recusandae eaque accusamus est magnam ratione hic iste asperiores soluta tempora placeat,
                cupiditate
                sunt
                similique, at accusantium tempore, inventore praesentium aspernatur beatae dolor eos voluptates.
                Rerum
                nulla
                provident ex odit! Porro, ducimus laborum! Consectetur laborum nisi numquam sapiente iste sit
                soluta, et
                expedita,
                ab, consequatur temporibus nesciunt aut nemo id iure aperiam perspiciatis. Ea doloremque perferendis
                obcaecati
                nulla provident a dolorem amet, quas vitae impedit velit aspernatur optio nobis maxime totam
                sapiente
                sed
                exercitationem suscipit, quibusdam at consequatur nemo voluptate veritatis incidunt. Voluptate.
            </p>
        </section>
    </div>

</body>
<script>
    const nav = document.querySelector(".nav");
window.addEventListener("scroll", fixNav);

function fixNav() {
  if (window.scrollY > nav.offsetHeight + 150) {
    nav.classList.add("active");
  } else {
    nav.classList.remove("active");
  }
}
</script>
</html>
