/* *{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.hero{
    background-image: url("./hero.png");
    background-repeat: no-repeat;
    width: 1210px;
    height: 742px;
    overflow: hidden;
}

.logo{
    width: 20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 5%;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: relative;
    top: -18%;
    z-index: 1;
}

.box{
    width: 322px;
    height: 300px;
    background-color: #003d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 3%;
    z-index: 1;
}

.heading{
    color: rgb(193, 204, 214, 0.955);
    font-size: 1.5rem;
    text-align:center;
    line-height: 1.6em;
    letter-spacing: .1em;
    font-weight: bold;
}

.b1{
    width: 120px;
    height: 300px;
    margin-bottom: 5%;
}

.exp {
    color: rgba(62, 55, 48, 0.9);
    font-size: 1rem;
    text-align:center;
    line-height: 1.6em;
    letter-spacing: .1em;
    
}

.grids{
    position: relative;
    top: -80%;
    height: max-content;
    z-index: 2;
}

.grid-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 1rem;
    justify-content:space-evenly;
    align-items: center;
}

.grid-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}


.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    background-color: #c0adad35;
    margin: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.info-1{
    text-align: center;
    color:#f40303;
    font-weight: bold;
    opacity: .9;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.heading1{
    color: rgba(0, 0, 0, 0.955);
    font-size: 1.5rem;
    text-align:center;
    line-height: 1.6em;
    letter-spacing: .1em;
    font-weight: bold;
}

:root{
    --white:#FFF;
    --black:#000;
    --dark:#1E1E1E;
    --gray:rgba(1,1,1,0.6);
    --lite:rgba(255,255,255,0.6);
    --primary:#002347;
    --secondary:#fdc632;
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:var(--primary);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p{
        font-size:12px;
    }
}



/***************************
               FOOTER
****************************/
/* footer{
    background-color:var(--primary);
    color:var(--lite);
}

footer h3{
    color:var(--white);
    margin-bottom:1.5rem;
}

footer a{
    color:var(--lite);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:var(--white);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:var(--lite);
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:var(--secondary);
    border:0;
    color:var(--primary);
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--secondary);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}
 */ 
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --accent-color: #7f0086;
  --main-transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
    height:80px;
    width: 170px;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  transition: var(--main-transition);
  text-transform: uppercase;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  transition: var(--main-transition);
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  font-weight: 400;
  font-weight: bold;
  transition: var(--main-transition);
}

.nav * {
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.nav a.current,
.nav a:hover {
  color: var(--accent-color);
 

}

.nav a.current {
  font-weight: 600;
  
  font-weight: bold;
}

.nav a.current::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active a.current::before {
  opacity: 0;
}

.nav.active .container {
  padding: 20px 0;
}

i {
  margin: 0 10px;
}

.hero {
  background-image: url('hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 0px;
  z-index: -3;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
  font-weight: 800;
  letter-spacing: 0.8rem;
}

.hero p {
  font-size: 16px;
  letter-spacing: 0.2rem;
  font-weight: 200;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position:static;
  
    
    

    
}

.box{
    width: 322px;
    height: 300px;
    background-color: #7b959c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 3%;
    transform: translateY(-60px);

}

.content h2 {
  font-size: 150%;
  margin: 20px 0;
  text-transform: uppercase;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 30px;
  }

  .nav .container {
    display: flex;
    flex-direction: column;
  }

  .nav .logo {
    display: none;
  }
}
