<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div>
        <div class="hero">
            <div >
                <img class="logo" src="logo.png" alt="">
            </div>
            <div class="navbar">
                
            </div>
        </div>
        <div class="boxes">
            <div class="box-1 box">
                <img class="b1" src="box1.png" alt="">
                <h2 class="heading">
                    Residential Waste <br>
                    <span class="exp">waste material garbage, and trash from houses!</span><br>
                    <span class="ord">Order Waste Pickup</span>
                </h2>
                
            </div>
            <div class="box-2 box">
                <img class="b1" src="box2.png" alt="">
                <h2 class="heading">
                    Business Waste<br>
                    <span class="exp">Take care of business, we'll take care of the wastes.</span><br>
                    <span class="ord">More About Recycle</span>
                </h2>
            </div>
            <div class="box-3 box">
                <img class="b1" src="box3.png" alt="">
                <h2 class="heading">
                    Roll-Off Dumpsters<br>
                    <span class="exp">From the clean out services to major renovations</span><br>
                    <span >Rent A Dumpster</span>
                </h2>
            </div>
        </div>
    </div>
</body>
</html>